.fix-height-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
}

.fix-height-content-chart {
    min-height: 100%;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
};

/*#region ---------- 2 row layout ---------- */
.two-row-layout-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    gap: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
    transition: all 0.3s;
}

.content-title-container {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    flex-grow: 1;
}

.top-section > span {
    flex: 1 1 150px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
}

@media (width < 1156px) {
    .top-section > button {
        flex: 1 1 150px;
    }

    .top-section > span {
        flex: 1 0 150px;
    }
}
/*#endregion ---------- 2 row layout ---------- */

/*#region ---------- 3 column layout ---------- */
.three-col-layout-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.three-col-layout-container > * {
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    padding: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
    gap: 12px;
}
/*#endregion ---------- 3 column layout ---------- */

/*#region ---------- 1 row 3 col layout ---------- */
.one-row-three-col-layout-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.layout-three-top-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
    gap: 12px;
}

.layout-three-bottom-section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.layout-three-bottom-section > * {
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    padding: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
    gap: 12px;
}
/*#endregion ---------- 1 row 3 col layout ---------- */

/*#region ---------- 1 column layout ---------- */
.two-row-layout-container {
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--contentBGC);
    border-radius: var(--contentBorderRadius);
    gap: 24px;
}

.content-title-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.content-title {
    display: flex;
    align-items: center;
    padding-top: 5px;
    flex-grow: 1;
}

.content-title-container span {
    flex: 1 1 auto;
}

.content-title-container div {
    flex: 1 1 auto;
}
/*#endregion ---------- 1 column layout ---------- */

.page-content-title-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
